<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@{
    var user = Session["User"] as TMDT.Account;
    var daysleft = Session["DaysLeft"] as TMDT.Models.DaysLeft;
}
<!DOCTYPE html>
<html>
<head>
    <title>Cửa hàng bán mô hình đồ chơi</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/public/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/public/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/public/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/public/css/bootstrap-slider.min.css" rel="stylesheet" />
    
    <link href="~/public/css/style.css" rel="stylesheet" />
    <link href="~/public/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/public/css/cssprogress.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Content/reveal.css">*@
    

    <script src="~/public/js/jquery-1.10.2.min.js"></script>
    <script src="~/public/js/jquery-ui.js"></script>
    <script src="~/public/js/bootstrap.min.js"></script>
    <script src="~/public/js/bootstrap-slider.min.js"></script>
    
    
    
    
    
    

</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                <div class="call">
                    <p><span>Trợ giúp?</span> Gọi chúng tôi: <span class="number">1-22-3456789</span></p>
                </div>
                <div class="account_desc">
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#myModal">Tìm kiếm nâng cao</a></li>
                        <li><a href="/Merchant/Sell">Đăng sản phẩm mới</a></li>
                        <li><a href="/CartItem/Index">Giỏ hàng @if(Session["CartCount"] != null) { <span>(@Session["CartCount"])</span>}</a></li>
                        @if (user == null)
                        {
                            <li><a href="/Home/Register">Đăng kí</a></li>
                            <li><a href="/Home/Login">Đăng nhập</a></li>
                        }
                        @if (user != null)
                        {
                            
                            
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="color:green;">@user.UserName</span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("AccountInfo", "Home", new { id=@user.AccountID})">Thông tin tài khoản</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Order", "CartItem", new { id=@user.AccountID})">Xem đơn đặt hàng</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/Home/Logout">Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>

                        }
                    </ul>

                </div>
                <div class="clear"></div>
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="/Home/Index"><img src="~/public/images/nenlogo.png" alt="" /></a>
                </div>
                <div class="cart">

                    @*@if (user != null)
                        {
                            <p><span>@user.UserName</span></p>
                            if (user.Level == 1)
                            {
                                if (daysleft.Days <= 5)
                                {
                                    <div class="cssProgress12">
                                        <div style="color:red;font-weight:bold">Còn lại @daysleft.Days ngày</div>
                                        <div class="progress12">
                                            <div class="cssProgress-bar" style="width: @daysleft.Percent%;"></div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="cssProgress">
                                        <div style="font-weight: bold">Còn lại @daysleft.Days ngày</div>
                                        <div class="progress1">
                                            <div class="cssProgress-bar" style="width: @daysleft.Percent%;"></div>
                                        </div>
                                    </div>
                                }

                            }
                        }*@
                </div>

            </div>
            <div class="header_bottom">
                @{Html.RenderAction("Menu", "Home");}
                <div class="search_box">
                    @using (Html.BeginForm("ReturnSearch", "Home", FormMethod.Get))
                    {
                        <p> @Html.TextBox("name", "", new { placeholder = "Gõ từ khóa" }) <input type="submit" value="" /></p>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Theo dõi chúng tôi</h4>
                    <div class="social-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/NgocThanhMobile?fref=ts" target="_blank"><img src="../public/images/facebook.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/public/images/twitter.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/public/images/skype.png" alt="" /> </a></li>
                            <li><a href="#" target="_blank"> <img src="~/public/images/dribbble.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"> <img src="~/public/images/linkedin.png" alt="" /></a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Liên Hệ</h4>
                    <ul>
                        <li><span>+91-123-456789</span></li>
                        <li><span>+00-123-000000</span></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>

    @{Html.RenderAction("GetData", "Home");}





</body>
</html>
