@model TMDT.Account

@{
    ViewBag.Title = "GetRating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetRating</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

      
    </dl>
</div>
<p>
    @Html.Partial("_star",Model.AccountID)
    @Html.Partial("_VoteNow", Model.Rating+","+Model.NoRating)
</p>
