@model TMDT.Bill

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name='other']").off('change').on('change', function () {
            $("#div1").toggle(this.checked);
        });
        
    });

    function Submit(){       
        if ($("input[name='other']").is(':checked')) {
            var name = $('#name');
            var mobile = $('#mobile');
            var address = $('#address');
            var email = $('#email');
            if (name.val() != "")
            {
                if (mobile.val() != "")
                {
                    if(address.val() != "")
                    {
                        if(email.val() != "")
                        {
                            $("#form2").submit();
                        }
                        else
                        {
                            alert("Vui lòng nhập lại thông tin đặt hàng!");
                        }
                    }
                    else {
                        alert("Vui lòng nhập lại thông tin đặt hàng!");
                    }
                }
                else {
                    alert("Vui lòng nhập lại thông tin đặt hàng!");
                }
                
            }
            else {
                alert("Vui lòng nhập lại thông tin đặt hàng!");
            }
            }
            else {
                $("#form1").submit();
            }     
    }
    
</script>
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Thông tin đặt hàng</h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    
                    <div>
                        <br />
                        @using (Html.BeginForm("Payment", "CartItem", FormMethod.Post, new { id = "form1" }))
                        {
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ShipName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShipName)
                                @Html.HiddenFor(model => model.ShipName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShipMobile)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShipMobile)
                                @Html.HiddenFor(model => model.ShipMobile)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ShipEmail)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShipEmail)
                                @Html.HiddenFor(model => model.ShipEmail)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ShipAddress)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ShipAddress)
                                @Html.HiddenFor(model => model.ShipAddress)
                            </dd>
                        </dl>
                            @Html.HiddenFor(model => model.AccountID)
                            @Html.HiddenFor(model => model.SumMoney)
                            int i = 0;
                            if (Model != null)
                            {
                            foreach (var item in Model.DetailBills)
                            {
                                @Html.Hidden("DetailBills[" + i + "].ProductID", item.ProductID, new { @id = "DetailBills[" + i + "].ProductID" })
                                @Html.Hidden("DetailBills[" + i + "].Price", item.Price, new { @id = "DetailBills[" + i + "].Price" })
                                @Html.Hidden("DetailBills[" + i + "].Quantity", item.Quantity, new { @id = "DetailBills[" + i + "].Quantity" })
                                @Html.Hidden("DetailBills[" + i + "].Product.AccountID", item.Product.AccountID, new { @id = "DetailBills[" + i + "].Product.AccountID" })
                                @Html.Hidden("DetailBills[" + i + "].AccountID", item.AccountID, new { @id = "DetailBills[" + i + "].AccountID" })
                                i++;
                            }
                            }
                        
                        }
                    </div>
                    

                    <hr />
                    <label><input type="checkbox" name="other" /> Địa chỉ giao hàng khác</label><br /><br />
                    @using (Html.BeginForm("Payment", "CartItem", FormMethod.Post,new { id="form2"}))
                    {
                        @Html.AntiForgeryToken()

                        <div id="div1" hidden class="form-horizontal">


                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model=>model.ShipName, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBox("ShipName", "", new { @class = "form-control",@id="name"})
                                    @Html.ValidationMessage("ShipName")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ShipMobile, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBox("ShipMobile", "", new { @class = "form-control",@id="mobile" })
                                    @Html.ValidationMessage("ShipMobile")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ShipAddress, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBox("ShipAddress", "", new { @class = "form-control",@id="address"})
                                    @Html.ValidationMessage("ShipAddress")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ShipEmail, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBox("ShipEmail", "", new { @class = "form-control",@id="email"})
                                    @Html.ValidationMessage("ShipEmail")
                                </div>
                            </div>
                           
                        </div>
                            
    
                        @Html.HiddenFor(model => model.AccountID)
                        @Html.HiddenFor(model => model.SumMoney)
                        int i = 0;
                        foreach (var item in Model.DetailBills)
                        {
                            @Html.Hidden("DetailBills[" + i + "].ProductID", item.ProductID, new { @id = "DetailBills[" + i + "].ProductID" })
                            @Html.Hidden("DetailBills[" + i + "].Price", item.Price, new { @id = "DetailBills[" + i + "].Price" })
                            @Html.Hidden("DetailBills[" + i + "].Quantity", item.Quantity, new { @id = "DetailBills[" + i + "].Quantity" })
                            @Html.Hidden("DetailBills[" + i + "].Product.AccountID", item.Product.AccountID, new { @id = "DetailBills[" + i + "].Product.AccountID" })
                            @Html.Hidden("DetailBills[" + i + "].AccountID", item.AccountID, new { @id = "DetailBills[" + i + "].AccountID" })
                            i++;
                        }

                    }
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="submit" value="Đặt hàng" class="btn btn-default" onclick="Submit();" />
                    </div>
                </div>
                </div>
                <div class="col-lg-5">
                    <br />
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="font-weight:bolder;">Sản phẩm</th>
                                    <th style="font-weight:bolder;">Số lượng</th>
                                    <th style="font-weight:bolder;">Giá</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.DetailBills)
                                        {
                                            <tr>
                                                <td>@item.Product.ProductName</td>
                                                <td>@item.Quantity</td>
                                                <td>@item.Price</td>
                                            </tr>
                                        }
                                    }
                                        
                                <tr>
                                    <td></td>
                                    <td style="font-weight:bolder;font-size:larger;">Thành tiền</td>
                                    
                                    <td style="font-weight:bolder;font-size:larger;color:red;">@if(Model!=null){@Model.SumMoney}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

