@model IEnumerable<TMDT.Product>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="content">
    <div class="section group">
        @{int i = 0; }
        @foreach (var item in Model)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@Url.Action("Details","Home", new { id=item.ProductID})"><img src="@Url.Content("/public/MyImages/"+Html.DisplayFor(modelitem => item.Image))" /></a>
                <h2>@Html.DisplayFor(modelitem => item.ProductName)</h2>
                <div class="price-details">
                    <div class="add-cart">
                        <h4> @Html.ActionLink("Thêm vào giỏ", "AddToCart", "CartItem", new { id = item.ProductID }, "")</h4>
                    </div>
                    <div class="price-number">
                        <p><span class="rupees">@Html.DisplayFor(modelitem => item.Price)</span></p>
                    </div>

                    <div class="clear"></div>
                </div>
                @{i++; }
                @if (i > 4) { break; }
            </div>
        }
    </div>
</div>


